{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Manage your booking
      </h1>

      <h3>  Select to change the booking time. </h3>

  <dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
     Person 1<Br>11/11/1111<Br> Dose 1 </Br>
    </dt>
    <dd class="nhsuk-summary-list__value">
      01/10/2021<br>13:15<br> Albany Vaccination Centre </br>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Person 2<br>22/22/2222<Br> Dose 1 </Br>
    </dt>
    <dd class="nhsuk-summary-list__value">
      01/10/2021<br>13:25<br> Albany Vaccination Centre </br>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Person 3<br>33/33/3333<Br> Dose 1 </Br>
    </dt>
    <dd class="nhsuk-summary-list__value">
      01/10/2021<br>13:35<br> Albany Vaccination Centre </br>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> contact information</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Person 4<br>44/44/4444<Br> Dose 1 </Br>
    </dt>
    <dd class="nhsuk-summary-list__value">
      01/10/2021<br>13:45<br> Albany Vaccination Centre </br>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>

    </dd>

  </div>

</dl>
<div class="nhsuk-back-link">
<a class="nhsuk-back-link__link" href="#">
<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
Go back</a>
</div>

    </div>

  </div>
{% endblock %}
